%% COVER PAGE
\begin{titlepage}
    \centering
    \vspace*{2cm}
    {\Huge\bfseries {{ association_name | tex_escape }}\\[0.5em]
    {{ meeting_year }} Annual Meeting Packet\par}
    \vspace{2cm}
    {\Large
    {% if meeting.meeting_date %}
    {{ meeting.meeting_date | format_date }}
    {% else %}
    \fillline[2in]
    {% endif %}
    \\[0.25em]
    {% if meeting.meeting_time %}
    {{ meeting.meeting_time }}
    {% if meeting.registration_time %}
    (Registration at {{ meeting.registration_time }})
    {% endif %}
    {% else %}
    \fillline[1.5in]
    {% endif %}
    \\[0.5em]
    {% if meeting.meeting_location %}
    {{ meeting.meeting_location | tex_escape }}
    {% else %}
    \fillline[2.5in]
    {% endif %}
    \par}
    \vfill
    {\large Prepared for the Unit Owners of\\[0.25em]
    {{ association_name | tex_escape }}}
    \vspace{1cm}

    {% if management_contact or management_company %}
    {\large Prepared by:\\[0.25em]
    {% if management_contact %}
    {{ management_contact | tex_escape }}{% if management_company %},\\
    {{ management_company | tex_escape }}{% endif %}
    {% else %}
    {{ management_company | tex_escape }}
    {% endif %}
    }
    {% endif %}
    \vfill
    {\large {{ generated_date }}}
\end{titlepage}
