%% OFFICIAL ANNUAL MEETING NOTICE
\section{Notice of {{ meeting_year }} Annual Meeting}

\subsection*{Official Notice}
\vspace{-0.5em}

\noindent
\textbf{ {{ association_name | upper | tex_escape }} }\\[0.5em]
\textbf{Notice of {{ meeting_year }} Annual Meeting of the Members}

\vspace{0.75em}

\noindent
NOTICE IS HEREBY GIVEN that the {{ meeting_year }} Annual Meeting of the Members of
{{ association_name | tex_escape }} will be held on:

\begin{itemize}[leftmargin=1.1em]
    \item \strong{Date:}
          {% if meeting.meeting_date %}{{ meeting.meeting_date | format_date }}
          {% else %}\fillline{% endif %}
    \item \strong{Time:}
          {% if meeting.meeting_time %}{{ meeting.meeting_time }}
          {% if meeting.registration_time %} (registration begins at {{ meeting.registration_time }}){% endif %}
          {% else %}\fillline[1.5in]{% endif %}
    \item \strong{Place:}
          {% if meeting.meeting_location %}{{ meeting.meeting_location | tex_escape }}
          {% if meeting.meeting_address %}, {{ meeting.meeting_address | tex_escape }}{% endif %}
          {% else %}\fillline[2.5in]{% endif %}
\end{itemize}

Please see the enclosed information regarding the {{ meeting_year }} {{ association_name | tex_escape }} Annual Meeting.

If any owner has questions or concerns they would like to discuss with the Board during the meeting,
please submit those questions by email prior to the meeting. Questions not submitted in advance may
not be discussed due to time and agenda constraints.

\begin{itemize}[leftmargin=1.1em]
    \item \strong{Property Manager{% if management_email %} Email{% endif %}:}
          {% if management_email %}\texttt{ {{ management_email | tex_escape }} }
          {% elif management_contact %}{{ management_contact | tex_escape }}
          {% else %}\fillline{% endif %}
\end{itemize}

As important business will be conducted at this meeting, it is important for all owners to attend
the meeting in person or be represented by proxy in order to help establish a quorum.
{% if meeting.proxy_permitted != false %}
If you are unable to attend, please complete and return the enclosed Proxy
{% if meeting.proxy_deadline %}
by
{% if meeting.meeting_time %}5{:}00 p.m. on {% endif %}
{{ meeting.proxy_deadline | format_date }}
{% endif %}.
You may
{% if management_email %}
scan and email your proxy to the property manager at the address above or give it to another owner
who will attend the meeting.
{% else %}
give your completed proxy to another owner who will attend the meeting.
{% endif %}
{% endif %}

\vspace{1.5em}

\noindent
On behalf of the Board of Directors of\\
\textbf{ {{ association_name | tex_escape }} }\\[1em]
\textbf{By:} \rule{2.5in}{0.4pt}\\[-0.2em]
{% if management_contact %}
\emph{ {{ management_contact | tex_escape }} }\\
{% endif %}
{% if management_company %}
{{ management_company | tex_escape }}
{% endif %}

{% if notice_compliance_note and meeting.notice_date and meeting.meeting_date %}
\vspace{1em}
\noindent\textit{\small Notice period: This notice is sent {{ (meeting.meeting_date - meeting.notice_date).days }} days before the meeting,
satisfying the applicable minimum notice requirement.}
{% endif %}
